.container {
            display: flex;
            width: 65%;
            min-width: 40%;
            max-width: 90%;
            height: 35%;
            min-height: 400px;
            max-height: 600px;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin: 0 auto;
            margin-top: 3%;
            /*backdrop-filter: blur(10px); /* Efeito de vidro fosco */
            /*-webkit-backdrop-filter: blur(10px); /* Para compatibilidade */
        }

