:root {
    --primary-color: #8D2A4B; 
    --secondary-color: #F8F8F8; 
    --text-color: #333;
    --light-text-color: #FFF;
    --dark-bg-color: #5C1D30;
    /*--font-size-base: 16px;*/
    --header-height: 5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.6;
    color: var(--text-color);
}

.container {
    max-width: 140rem; /* Largura máxima da maioria dos elementos de conteúdo */
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* HERO SECTION */
.hero {
  position: relative;
  width: 100%;
  max-width: 90%;
  height: 80vh;
  margin: 0% 5% 0% 5%;
  border-radius: 5rem;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.hero-img {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}

/* camada escura sobre a imagem */
.hero-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-texto {
  position: relative;
  z-index: 2;
  margin-left: 5%;
  max-width: 45%;
}

.hero-texto h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.hero-texto p {
  font-size: 3rem;
  font-weight: 300;
}

/* CARDS ABAIXO */
.cards-info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  margin-top: -16rem; 
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 2rem;
  padding: 2rem 1.5rem;
  text-align: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  height: 40rem;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 1rem; 
}

.card:hover {
  transform: translateY(-0.3rem);
}

.card img {
  width: 5rem;
  height: auto;
  margin-bottom: 1rem;
  margin-bottom: 5%;
}

.card p {
  color: #868686;
  font-size: 2.5rem;
  line-height: 1.3;
  width: 206px;
  font-weight: inherit;
  font-style: italic;
}

/* secao "CARROSSEL" */
.header-texto-intro {
    font-weight: normal;
    font-size: 2rem;
    width: 70%;
    text-align: center;
    margin: 3% 0% 7% 0%;
}

.essential-section {
    padding-top: 10rem; 
    padding-bottom: 5rem;
}

.essential-header {
    justify-items: center;
    justify-content: center;
    margin: 5% 0% 0% 0%;
}

.essential-header h3{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    font-family: "Instrument Serif", serif;
    color: #868686;
}

.essential-header span {
    color: var(--light-text-color);
    background-color: var(--primary-color);
    border-radius: 300px;
    font-family: "Instrument Serif", serif;
    padding: 5px 20px;
}

.splide__list  {
    display: flex;
    gap: 2%;
    justify-items: center;
    justify-content: center;
    margin-bottom: 5%;
}


/* CONTACT SECTION */
.contact-section {
    display: flex;
    gap: 8rem;
    padding: 12rem 0;
    padding-bottom: 5%;
    margin-top: 5%;
    background-color: var(--secondary-color); 
    width: 100vw;
    margin-left: calc(-1 * (100vw - 100%)/2);
    justify-content: center;
    margin-top: 14%;
    margin-bottom: 8%;
}

.contact-section .container {
  max-width: 1300px; 
  margin: 0 auto;
  padding: 0 2rem; 
  display: flex;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30rem;
}


.contact-text {
    flex: 1.5;
    padding-top: 2rem;
}

.contact-text, 
.contact-form {
  flex: 1;
  min-width: 40rem; 
}


.contact-text h2 {
    font-size: 5rem;
    font-weight: bold;
    color: var(--primary-color);
    min-width: 100rem;
}

.primary {
    margin-bottom: 2rem;
}

.contact-text p {
    font-size: 2rem;
    min-width: 50rem;
    font-weight: normal;
    color: #666;
}

.contact-form {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-form input,
.contact-form textarea {
    padding: 1.5rem;
    border: 0.1rem solid #DDD;
    border-radius: 100rem;
    font-size: 2rem;
}

.contact-form textarea {
    resize: none;
    height: 15rem;
    border-radius: 4rem;
}

.contact-form button {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border: none;
    padding: 1.5rem;
    border-radius: 200rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 55%;
    justify-items: center;
}

label {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    color: #666;
    padding: 0px 4px;
}

.caixa {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contact-form button:hover {
    background-color: #6a1f38;
}

.contact-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8rem;
}

.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  flex: 1;
  min-width: 40rem;
}

.visit-section {
  background: none;
  text-align: left;
}

.visit-section h2 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-weight: 700;
}

.schedule .title {
  font-weight: bold;
}

.schedule p {
  font-size: 1.8rem;
  color: #444;
  font-weight: normal;
}



/* GALLERY SECTION */
.gallery-section {
    padding: 5rem 0;
}

.gallery-content {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.gallery-text {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--primary-color);
    flex-shrink: 0;
    text-align: right;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    flex-grow: 1;
}

.grid-item img {
    height: 200px;
}

/* FOOTER */
footer {
  background-color:  var(--secondary-color);
  text-align: center;
  padding: 1.5em;
  font-size: 0.9rem;
}


/* ====================================================================== */
/* MEDIA QUERIES PARA RESPONSIVIDADE (Utilizando EM para quebrar por fonte)*/
/* ====================================================================== */

/* Tablets e Telas Menores (aproximadamente 1024px e abaixo, 64em) */
@media (max-width: 64em) {
    .nav-menu ul {
        gap: 1.5rem;
        font-size: 1.4rem;
    }

    .hero-content h2 {
        font-size: 4rem;
    }

    .feature-boxes {
        gap: 1rem;
    }

    .contact-section {
        flex-direction: column;
        gap: 3rem;
    }

    .contact-text {
        text-align: center;
    }
    
    .contact-text h2 {
        font-size: 3.5rem;
    }

    .contact-text p {
        max-width: 100%;
    }
    
    .gallery-content {
        flex-direction: column;
        text-align: center;
    }

    .gallery-text {
        text-align: center;
        font-size: 3rem;
    }

    .footer-content {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .footer-col {
        min-width: 45%;
        margin-bottom: 2rem;
    }
}

/* Smartphones (aproximadamente 768px e abaixo, 48em) */
@media (max-width: 48em) {
    .nav-menu {
        /* Esconde o menu de navegação padrão em telas menores */
        display: none;
        position: absolute;
        top: var(--header-height);
        left: 0;
        width: 100%;
        background-color: var(--light-text-color);
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .nav-menu.active {
        display: block;
    }

    .nav-menu ul {
        flex-direction: column;
        padding: 1rem 0;
        gap: 0;
    }

    .nav-menu ul li {
        text-align: center;
        padding: 1rem 0;
        border-bottom: 0.1rem solid #EEE;
    }

    .nav-menu a.active {
        border-bottom: none;
    }

    .nav-icons {
        order: 3; /* Move ícones para a direita */
    }

    .menu-toggle {
        display: block; /* Mostra o botão de menu mobile */
        margin-left: 2rem;
    }

    /* HERO SECTION Mobile */

  .hero {
    height: 50vh;
    justify-content: center;
    text-align: center;
  }

  .hero-texto {
    margin-left: 0;
    max-width: 80%;
  }

  .hero-texto h1 {
    font-size: 1.8rem;
  }

  .cards-info {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .card {
    width: 80%;
  }

    /* GALLERY Mobile */
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em mobile */
        gap: 1rem;
    }

    .grid-item {
        height: 10rem;
    }

    /* FOOTER Mobile */
    .footer-content {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-col {
        min-width: 100%;
        text-align: center;
    }

    .social-icons {
        text-align: center;
    }
}